@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?z5wsno') format('truetype'),
    url('fonts/icomoon.woff?z5wsno') format('woff'),
    url('fonts/icomoon.svg?z5wsno#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-user:before {
  content: "\e971";
}
.icomoon-eye:before {
  content: "\e9ce";
}
.icomoon-spotify:before {
  content: "\ea94";
}
