@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap');

body,
.markdown-body {
    font-family: 'PT Serif', 'Noto Serif TC', sans-serif;
    font-size: 17px;
    letter-spacing: 0.02em;
    font-display: swap;
}

/* font-size is too small on portable device */
/* @media (max-width: 575px) {
    body,
    .markdown-body {
        font-size: 16px !important;
    }
} */
