@media only screen and (min-width: 801px) {
    body {
        background-color: #ddf5f9;
        font-family: 'Raleway', sans-serif;
    }

    header {
        color: #03599C;
        height: auto;
        border: 4px solid #03599C;
        padding: 20px 0;
    }

    article {
        padding: 20px;
        border: 1px solid black;
    }

    aside {
        border: 1px solid black;
    }

    .center {
        text-align: center;
    }

    .main-wrapper {
        display: grid;
        grid-template-columns: 5fr 1fr;
        margin: 30px 10px;
        column-gap: 30px;
    }

    .personal-icon {
        background-color: none;
        display: block;
        margin: 1vw auto;
        width: 10vw;
        height: 10vw;
        object-fit: cover;
        object-position: center;
        border: none;
        border-radius: 100px;
    }

    .owner-name {
        display: block;
        text-align: center;
        font-size: 1.2vw;
        font-weight: bold;
    }

    .social-icon-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        margin: 0 1.5vw;
    }

    .social-icon-a {
        width: 2vw;
        height: 2vw;
        margin: 0 auto;
        cursor: pointer;
    }

    .social-icon {
        pointer-events: none;
    }
}