body {
    background-color: #ddf5f9;
    font-family: 'Raleway', sans-serif;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 30px 10px;
    column-gap: 30px;
}

/* phone */
@media only screen and (max-width: 720px) {
    .main-wrapper {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}

header {
    color: rgb(3, 89, 156);
    height: auto;
    border: 4px solid rgb(3, 89, 156);
    padding: 20px 0;
}

article {
    padding: 20px;
    border: 1px solid black;
}

aside {
    border: 1px solid black;
}

.center {
    text-align: center;
}

.sidebar-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin: 0 1.5vw;
}

/* phone */
@media only screen and (max-width: 720px) {
    .sidebar-wrapper {
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
        row-gap: 0;
        padding: 1.2vw 1.5vw;
        margin: 0 1.5vw;
        align-items: center;
    }
}

.personal-icon {
    display: block;
    margin: 1vw auto;
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    object-position: center;
    border: none;
    border-radius: 7.5vw;
    margin-bottom: 20px;
}

/* phone */
@media only screen and (max-width: 720px) {
    .personal-icon {
        width: 30vw;
        height: 30vw;
        border-radius: 15vw;
        margin-bottom: 0;
    }
}

.owner-name {
    display: block;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
}

/* phone */
@media only screen and (max-width: 720px) {
    .owner-name {
        display: none;
    }
}

.social-icon-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    padding: 1.2vw 3vw;
    margin: 0 3vw;
}

.social-icon-a {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
}

/* phone */
@media only screen and (max-width: 720px) {
    .social-icon-a {
        width: 75%;
        height: 75%;
    }
}

.social-icon {
    pointer-events: none;
}

.maf-eq {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}